body{
  background-color: #F8F6F8;
  width:850px;
  margin:auto;
  font-size:85%;
  font-family: 'Open Sans', sans-serif;
}

summary{
outline:none;
cursor:default;
}

.small_box{
	display:inline-block;
	width:80px;
	height:auto;
	border-radius:6px;
  	background-color:#FFFFFF;
  	margin:1px;
  	border: 1px solid black;
  	float:left;
}

.menu{
  float:left;
  width:250px;
  height:auto;
  border-radius:9px;
  background-color:#FFFFFF;
}

.menu_upload{
  float:left;
  width:250px;
  margin-top:30px;
  height:30px;
  border-radius:10px 10px 10px 10px;
  background-color:#FFFFFF;
}

.menu_upload_big{
  float:left;
  width:250px;
  margin-top:30px;
  height:190px;
  border-radius:6px;
  background-color:#FFFFFF;
}

.content{
  float:right;
  width:580px;
  height:auto;
  min-height:1000px;
  margin-bottom:20px;
  padding-bottom:10px;
  border-radius:6px;
  background-color:#FFFFFF;
}

.n_table{
	font-size: 90%;
	width:500px;
	margin-left:10px;
}

.first{
	width:250px;

}

.second{
	width:150px;

}

.triple_1{
	width:130px;

}

.triple_2{
	width:70px;

}

.triple_3{
	width:80px;

}

.get_buttons{
position: absolute;
top:30px;
left:110px;
}

.get_file_content{
  position:relative;
  margin:auto;
  padding-top:5px;
  width:350px;
  height:70px;
  margin-top:150px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:6px;
  background-color:#FFFFFF;
}

.error_content{
  margin:auto;
  padding-top:5px;
  width:580px;
  height:auto;
  margin-top:20px;
  padding-bottom:10px;
  border-radius:6px;
  background-color:#FFFFFF;
}

#overlay {
	display:none;
	cursor:default;
	font-size:80%;
    height: 325px;
    opacity:1.0;
    width: 1057px;
    border: 1px solid black;
    position: absolute;
    background-color:white;
    top: 20%;
    left: 1%;
    right: 1%;
    margin: auto;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
 	unselectable="on"
 	onselectstart="return false;" 
 	onmousedown="return false;">
}

.top-overlay {
	cursor:default;
	font-size:80%;
    height: 25px;
    opacity:1.0;
    padding-top:8px;
    width: 680px;
    border: 1px solid black;
    border-top:none;
    position: absolute;
    background-color:white;
    border-radius: 0em 0em 1em 1em;
    left: 1%;
    right: 1%;
    margin: auto;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
 	unselectable="on"
 	onselectstart="return false;" 
 	onmousedown="return false;">
}

#loading_overlay{
  display:none;
  height:100px;
  width:100px;
  z-index:9;
  position: absolute;
  top: 35%;
  left: 45%;
}

.overlay-header{
	width:100%;
	height:50px;
	font-size:100%;
}

.overlay-header-content{
	margin:10px;
}

#overlay-close{
	float:right;
}

.top_column_lh{
	line-height:40px;
}

.top_column{
	font-weight:bold;
	font-size:80%;
	border:1px solid black;
	width:60px;
	vertical-align: middle;
	float:left;
	height:40px;
	margin-top:8px;
	text-align:center;
	background-color: white;
	margin: 1px;
	font-weight:bold;
	color: #000000;
	cursor: default;
}

.start_button{
   padding-top:8px;
   padding-left:8px;
   width: 140px;
   height: 25px;
   margin: 10px 0;
   margin-bottom:0px;
   background: #3498db;
   border: 1px solid black;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.bottom_column{
	font-size:85%;
	padding-top:10px;
	border:1px solid black;
	width:60px;
	vertical-align: middle;
	float:left;
	height:205px;
	margin-top:10px;
	text-align:center;
	background-color: white;
	margin: 1px;
	color: #000000;
	cursor: default;
}

.upload_div{
  clear:both;
  width:600px;
  margin:auto;
  margin-bottom:20px;
  padding-bottom:10px;
  border-radius:6px;
  background-color:#FFFFFF;
}

.custom_select{
   width: 60px;
   height: 24px;
   overflow: hidden;
   border: 1px solid #ccc;
}

.show_texts{
	text-decoration:none;
}

.stats_options{

}

.start_values{

	float:right;
}

.left_content{
	float:left;
}

.pos_ra{
	position:absolute;
	left:300px;
	text-align:right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.file_list_details{
	margin-left:20px;
}

.rm_button{
   position:absolute;
   overflow:hidden;
   border: none;
   color: #fff;
   margin-top:5px;
   margin-left:0px;
   cursor:pointer;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

button {

   width: 160px;
   height: 35px;
   margin: 10px 0;
   margin-bottom:0px;
   background: #3498db;
   border: none;
   color: #fff;
   font-size: 13px;
   font-weight: bold;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

ul.sub_tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.sub_tabs li {float: left;}

ul.sub_tabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	width:160px;
}

/* Change background color of links on hover */
ul.sub_tabs li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.sub_tabs li a:focus, .active {background-color: #ccc;}

.button {
   display: block;
   width: 140px;
   height: 25px;
   margin: 10px 0;
   margin-bottom:0px;
   background: #3498db;
   border: none;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
  
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.text_count{
	position:absolute;
	left:600px;
}

.check_meta{
	position:absolute;
	left:770px;
}

.ra_annotate{
	left:20px;
}

.content_header{
  color: gray;
  font-size: 160%;
  margin-left: 10px;
  margin-top: 5px;
}

.content_subheader{
  color: gray;
  font-size: 100%;
  margin-left:10px;
}

.subcontent_header{
  font-size:100%;
  margin-left:10px;
  font-weight:bold;
}

.meta_list{
  margin-left:10px;
}

.subcontent_content{
  width:90%;
  margin-left:10px;
  margin-right:10px;
}

.subcontent_content_2{
  width:100%;
  margin-left:10px;
  margin-right:10px;
}

.dotlist{
  list-style-type: circle;
}

h1{
  font-family: "futura", 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}

.menu-link{
text-decoration: none;
color: inherit;
}



.arrow-icon{
  height:17px;
  width:17px;
  float:right;
  margin-top:6px;
  margin-right:3px;
}

.menu-item-columns{
  padding-left:10px;
  line-height: 30px;
  height:30px;
}

.menu-item{
  padding-left:10px;
  line-height: 30px;
  height:30px;
}

.start-icon{
	padding:7px;
	margin-left:35px;
	margin-right:35px;
	display:inline-block;
}

.menu-empty{
  padding-left:10px;
  line-height: 30px;
  height:30px;
  background-color: #F8F6F8;
}

.menu-header{
  padding-left:10px;
  line-height: 35px;
  height:30px;
  font-weight:bold;
}

.active{
  font-weight: bold;
}
